* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: #b5e787;
  padding: 0.5rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  box-shadow: 1px 10px 10px;
}
header a h2 {
  display: flex;
  align-items: center;
  font-size: 200%;
  color: #3fa3ca;
}
header a h2 img {
  width: 100px;
  height: 100px;
  border-radius: 75%;
}
button{
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
nav ul a {
  margin-left: 2rem;
  color: rgb(63, 163, 202);
}
.nav-item {
  text-decoration: none;
}

main {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-height: 100dvh;
}
main h3 {
  padding: 2rem;
}
main div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #3fa3ca;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  bottom: 0;
  box-shadow: 0 -5px 5px burlywood;
}
ul {
  list-style: none;
}


th, td{
  border: 2px solid black;
  padding: 8px;
  text-align: left;
  width: 400px;
}
#filter {
  display: flex;
  flex-direction: column;
  list-style: none;
  left: 20px;
  font-weight: bold;
  border: black;
  background-color: bisque;
  padding: 1.5rem;
}
#filter ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#create-tables{
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 228, 155);
  padding: 2rem;
  border-radius: 20px;
  min-width: 50vw;
  max-width: 30%;
  width: 50%;
  height: auto;
}
#caixa-soma{
  background-color: #8eca3f;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  border: 2px solid black;
}

#soma{
  margin: 3px;
  border: none;
  border-radius: 15px;
  background-color: #87e7c2;
  padding: 0.5rem;
  font-weight: bold;
}
#soma:hover{
  background-color: indianred;
}

#add-quest {
  margin: 30%;
  background-color: #8eca3f;
  border-radius: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  width: 50%;
  max-width: 40%;
  height: 80%;
  padding-bottom: 20px;
}

#add-quest ul {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}

#add-quest ul li{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-quest {
  border-radius: 5px;
  padding: 0.25rem;width: 95%;
}
#submit {
  display: flex;
  border-radius: 5px;
  padding: 1rem;
  background-color: #87e7c2;
  border: black;
}
#submit p{
  font-weight: bold;
}
#submit:hover{
  background-color: indianred;
}
.tabela-th{
  background-color: aliceblue;
}

#div-table{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-table h4{
  padding: 1rem;
}

.linha-tarefa{
  min-width: 800px;
  width: 800px;
  border-collapse: collapse;
  background-color: aliceblue;
}
